@import "tailwindcss";

@theme {
  --animate-wiggle: wiggle 0.5s ease-in-out infinite;
  --animate-fadeIn: fadeIn 2s ease-in forwards;

  @keyframes wiggle {
    0% {
      transform: rotate(-5deg);
    }

    50% {
      transform: rotate(5deg);
    }

    100% {
      transform: rotate(-5deg);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}


@layer components {
  .spin-slow {
    @apply animate-spin duration-200
  }

  .btn-bounce {
    @apply animate-bounce bg-blue-600 text-white font-bold py-2 px-4 rounded;
  }
}
